<div id="legend"">
    <table>
        <tr>
            <th>
                <img src="{{ url_for("plugin_res", {"plugin": module_id, "path": "images/marker-galette.png"}) }}" alt="{{ _T("Member") }}"/>
            </th>
            <td>
                {{ _T("Member") }}
            </td>
        </tr>
        <tr>
            <th>
                <img src="{{ url_for("plugin_res", {"plugin": module_id, "path": "images/marker-galette-pro.png"}) }}" alt="{{ _T("Member (company)", "maps" )}}"/>
            </th>
            <td>
                {{ _T("Member (company)", "maps" ) }}
            </td>
        </tr>
        <tr>
            <th>
                <img src="{{ url_for("plugin_res", {"plugin": module_id, "path": "images/marker-icon.png"}) }}" alt="{{ _T("Search result", "maps") }}"/>
            </th>
            <td>
                {{ _T("Search result", "maps") }}
            </td>
        </tr>
    </table>
</div>
