#map { height: 300px; }

#possible_towns li {
    cursor: pointer;
}

#possible_towns li:hover {
    background-color: #DDDDFF;
}

#removecoords {
    color: #999;
    font-size: .85em;
    display: block;
    text-align: center;
    cursor: pointer;
}
